<h2> RESERVACIONES </h2>  

  <!-- CLIENTE -->
  Cliente: 
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      Seleccionar cliente
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
        <li *ngFor="let cliente of ListaClientes" (click)="selectCliente(cliente)">
          <a class="dropdown-item">{{cliente.nombre}} {{cliente.apellidos}}</a>
        </li>
    </ul>
  </div>

  <h4> {{nombreCliente}}</h4>

  <form [formGroup]="miFormulario">
    <!-- FECHA -->
    Fecha: 
    <input 
    [class.is-invalid]="miFormulario.get('fecha')?.touched 
    && miFormulario.get('fecha')?.invalid" 
    type="date" class="form-control" 
    formControlName="fecha"
    >

    <!-- BOTÓN -->
    
    <br>
    <div class="d-grid gap-2">
      <button class="btn btn-primary" type="submit" (click)="cargarDisponibles()" [disabled] = "!seleccionado || miFormulario.get('fecha')?.invalid"> Consultar fecha </button>
    </div>
  </form>   


  <table  *ngIf="ListaModels.length != 0" class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">Número mesa</th>
        <th scope="col">Ocupado</th>
        <th scope="col">Cliente</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let model of ListaModels" (click)="selectReservacion(model)">
        <td>{{model.num_mesa}} </td>
        <td>{{model.ocupado}}</td>
        <td>{{model.nombreCliente}}</td>
      </tr>
    </tbody>
  </table>

  <!-- 
  <p> {{ListaModels | json }}</p>
  <h1>------</h1>
  <p> {{mesasAuto | json }}</p>
  -->