<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<app-navbar></app-navbar>
<h1>EDITAR PLATILLO</h1>
<br>
<div class="container">
    <div class="abs-center">
        <form class="border p-3 form" autocomplete="off"[formGroup]="platact"(ngSubmit)="actualizar()">
            <div class="form-group">
                <label for="text">Nombre</label>
                <input type="text" name="text"class="form-control"formControlName="nombre"
                [class.is-invalid]="platact.get('nombre')?.touched 
                && platact.get('nombre')?.invalid" 
                type="text" class="form-control">
                <div *ngIf="platact.get('nombre')?.touched && platact.get('nombre')?.invalid">
                <div class="msgError"> Nombre minimo de 2 caracteres</div>
                </div>
              </div>
            <div class="form-group">
                <label for="password">Precio</label>
                <input type="text" name="text"class="form-control"formControlName="precio"
                [class.is-invalid]="platact.get('precio')?.touched 
                && platact.get('precio')?.invalid" 
                type="text" class="form-control">
                <div *ngIf="platact.get('precio')?.touched && platact.get('precio')?.invalid">
                <div class="msgError">Apellidos minimo de 2 caracteres </div>
                </div>
            </div> 
            <div class="form-group">
                <label>Seleccione Tipo de Platillo</label>
            <select class="form-select" aria-label="Default select example"[class.is-invalid]="platact.get('tipo_plato')?.touched 
            && platact.get('tipo_plato')?.invalid" formControlName="tipo_plato">
                <option *ngFor="let sel of selPlat" [value]="sel.id">{{sel.nombre}}</option>
            </select>
            <br>  
            </div>
            <br>   
            <button type="submit" [disabled] ="platact.invalid" class="btn btn-outline-dark">Confirmar</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button type="button" class="btn btn-outline-primary" (click)="regresar()">Regresar</button>
            <br>
            <br>
        </form>
    </div>
</div>
